{# form field re-define #}
{% block checkbox_widget %}
{% spaceless %}
	<div>
	    <label for= {{ 'id' }} >
		    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
		{{ label|trans({}, translation_domain) }}</label>
	</div>	
{% endspaceless %}
{% endblock checkbox_widget %}



